<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!-- 全局的设置参数 -->
	<settings>
		<!-- 使用jdbc的getGeneratedKeys获取数据库自增主键值 -->
		<setting name="useGeneratedKeys" value="true" />
	</settings>

	<!-- 给实体类配置别名 -->
	<typeAliases>
		<!-- 扫描包 -->
		<package name="com.hy.sty.entity" />
	</typeAliases>
	
	<!-- 配置分页插件 -->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<property name="dialect" value="mysql" />
			<property name="reasonable" value="true" />
		</plugin>
	</plugins>
</configuration>